
/* Your CSS Code here. */
#d1{
 display: grid;
 border: 1px solid #000;
grid-template-columns: repeat(2, 200px);
grid-template-rows:repeat(2,200px) ;
 padding: 10px;
 border: 2px solid black;
}
#g-iteam{

    border: 1px dotted rgb(7, 204, 188);
    padding: 20px;
}